# env.sample
# This is a sample environment configuration file.
# Copy this file as .env and fill in the appropriate values.

# Django Settings
SECRET_KEY=your_generated_secret_key
DEBUG=True
DATABASE_URL=your_database
