{% load query_transform %}
{% if is_paginated %}
  <div class="col-4 mx-auto">
    <ul class="pagination pagination-primary m-4">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?{% query_transform request page=page_obj.previous_page_number %}" aria-label="Previous">
            <span aria-hidden="true"><<</span>
          </a>
        </li>
      {% endif %}
      <li class="page-item active">
        {{ page_obj.number }} of {{ paginator.num_pages }}
      </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?{% query_transform request page=page_obj.next_page_number %}" aria-label="Next">
            <span aria-hidden="true">>></span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
