{% extends "layouts/base_sections.html" %}

{% block content %}
<section class="vh-lg-100 mt-7 bg-soft d-flex align-items-center" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row form-bg-image">
      <div class="col-12 d-flex align-items-center">
        <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500 ms-0 text-start">
          <h1>
          {{ dish.name }}
          <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
            Delete
          </a>

          <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-primary link-to-page ">
            Update
          </a>
        </h1>
        <p><strong>Dish type: {{ dish.dish_type }}</strong></p>
        <h4>Description of the dish:</h4>
        <p>{{ dish.description }}</p>
        <h1>
          Cooks
        </h1>
        <hr>
        <ul>
          {% for cook in dish.cooks.all %}
            <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
