{% extends "base.html" %}

{% block content %}
  <h1>
    Dish list
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form method="get" action="" class="form-inline">
    {{ search_form.as_p }}
    <input type="submit" class="btn btn-secondary" value="🔎">
  </form>

  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.id }}</a>
          <strong>Dish name:</strong> {{ dish.name }}
          <strong>Type dish:</strong> {{ dish.dish_type.name }}
          <strong>Price:</strong> {{ dish.price }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
